<li class="comment">
	<%= @story.comments.body %>

	<p><%= link_to 'Reply', new_comment_comment_path(comment) %></p>

	<% unless comment.comments.empty %>
		<ul class="comment_list">
			<%= render "shared/comments", :collection => comment.comments %>
		</ul>
	<% end -%>
</li>