<li class="single_entry">
	<ul>
		<li>
			<h3><%= link_to story.title, url_with_protocol( story.url ), :target => '_blank' %>
				<% if story.new? && story.belongs_to?(current_user) %>

			</h3><%= link_to "edit", edit_story_path( story ), :class => "hover_hidden pull-right edit_button btn" %>
				<% end %>
		</li>
		<li>
			<%= "#{story.url} via @#{story.user.twitter_handle}" %>
		</li>
	</ul>
</li>