<div class="span6 offset3">
	<%= form_for( @story, :html => {:class => "form-horizontal"}) do |f| %>

		<%= f.text_field :title,:placeholder => "Title" %>
		<%= f.text_field :url, :placeholder => "URL" %>

		<%= f.submit :class => "btn submit_button" %>
	<% end -%>
</div>