<div class="span8">
	<ol id="new_entries">
		<% @stories.sort_by(&:score).reverse.each do |story| %>
			 <%= render 'entry', :story => story %>
		<% end -%>
	</ol>

	<%= paginate @stories %>
</div>

<%= render 'form' %>