<section class="story">
	<%= render 'entry', :story => @story%>
</section>

<section class="comments">
	<h3>Comments</h3>


	
	<p><%= link_to 'Add a Comment', new_story_comment_path(@story) %></p>

	<ul class="comment-list">
		<%= render 'shared/comments', :collection => @story.comments %>
	</ul>
</section>