<div class="container">
  <div class="row">
    <div class="navbar">
      <div class="navbar-inner">
    		
        <a href="#" class="nav brand">Hackifesto</a>

    		<!-- <div class="links pull-right"> -->
	    		<ul class="nav pull-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#fat" data-toggle="dropdown" class="dropdown-toggle">
                  Welcome, <%= current_user.twitter_handle %>!
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" id="fat">              
                  <li><%= link_to "Sign Out", logout_path %></li>
                </ul>
              </li>

              <li>
                <%= link_to "Sign Out", logout_path %>
              </li>

            <% else %>
              <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
            <% end -%>
	    		</ul>
    		<!-- </div> -->

      </div>
    </div>
  </div>
</div>